<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static',filename='favicon.icon') }}">
    
    <title>{{ user.name }}</title>  
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" type="text/css">
    {% endblock %}
</head>

<body>
    {% for m in get_flashed_messages() %}
        <div class="alert">{{ m }}</div>
    {% endfor %}
    <h2>
        <img class="avatar" src="{{ url_for('static',filename='images/avatar.png') }}" alt="Avatar">
        {{ user.name }}'s watchlist
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('setting') }}">Setting</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>

<footer>
    <small>
        <span>&copy; 2018 </span>
        <a href="http://helloflask.com/book/3">HelloFlask</a>
    </small>
</footer>
</html>