{% extends 'base.html' %}

{% block content%}
<p>{{ movies|length }}个主题</p>
<form method="post">
    <label for="name">Name</label><input type="text" name="title" id="name" autocomplete="off" required>
    <label for="year">Year</label><input type="text" name="year" id="year" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">   
</form>
<ul class="movie-list">
    {% for item in movies %}
    <li>
        {{ item.title}} - {{item.year}}
        <span class="float-right">

            <a class="btn" href="{{ url_for('edit',movie_id=item.id) }}">Edit</a>
            
            <form class="inline-form" action="{{ url_for('delete',movie_id=item.id)}}" method="POST">
                <input type="submit" value="Delete" name="submit" onclick="return confirm('Are you sure')">
            </form>
                
           
            <a class="imdb" href="https://www.imdb.com/find?q={{ item.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
            
        </span>
    </li>
    {% endfor %}
    
</ul>
<img class="totoro" src="{{ url_for('static',filename='images/totoro.gif') }}" alt="Walking totoro">
{% endblock %}