{% extends 'base.html' %}

{% block content%}
<p>{{ movies|length }}个主题</p>
<ul class="movie-list">
    {% for item in movies %}
    <li>
        {{ item.title}} - {{item.year}}
        <span class="float-right">
            <a class="imdb" href="https://www.imdb.com/find?q={{ item.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
    
</ul>
<img class="totoro" src="{{ url_for('static',filename='images/totoro.gif') }}" alt="Walking totoro">
{% endblock %}